@import "./src/styles/variables";

.message {
  max-width: max-content;
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  padding: 12px;
  background: #D7E6FF;
  font-size: 16px;
  line-height: 1.25em;
  color: #303030;
  border: 1px solid #C5DAFF;
  border-radius: 12px 0px 12px 12px;
  float: right;
  margin: 0px 36px 36px 0px;

  &:after {
    position: absolute;
    content: '';
    border: 12px solid transparent;
    border-left: 12px solid #C5DAFF;
    border-top: 12px solid #C5DAFF;
    top: -2%;
    right: -20%;
  }
  &:before {
    position: absolute;
    content: '';
    border: 12px solid transparent;
    border-left: 12px solid #D7E6FF;
    border-top: 12px solid #D7E6FF;
    top: 0%;
    right: -18%;
    z-index: 12;
  }

  @media (max-width: $md3) {
    max-width: 336px;
    font-size: 14px;
    line-height: 1.21em;
  }


  &--companion {
    background: #FFFFFF;
    border-radius: 0px 12px 12px 12px;
    float: left;
    margin: 0px 0px 36px 36px;
    &:after {
      position: absolute;
      content: '';
      border: 12px solid transparent;
      border-right: 12px solid #C5DAFF;
      border-top: 12px solid #C5DAFF;
      top: -2%;
      right: 87%;

    }
    &:before {
      position: absolute;
      content: '';
      border: 12px solid transparent;
      border-right: 12px solid #FFFFFF;
      border-top: 12px solid #FFFFFF;
      top: 0%;
      right: 85%;

    }
  }

  // .my-message__file
  &__file {
    display: flex;
    align-items: center;
  }

  // .my-message__body
  &__body {
    margin: 0px 0px 0px 7.3px;
  }

  // .my-message__filename
  &__filename {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25em;
    color: #303030;
    @media (max-width: $md3) {
      font-size: 14px;
      line-height: 1.21em;
    }
  }

  // .my-message__file-size
  &__file-size {
    margin: 2px 0px 0px 0px;
    font-size: 14px;
    line-height: 1.21em;
    color: #303030;
    @media (max-width: $md3) {
      font-size: 13px;
      line-height: 1.23em;
    }
  }
}
