// <=========================================================================================================> //
// --- Обнуление --- //
// <=========================================================================================================> //

@import "./nullstyle";

// <=========================================================================================================> //
// --- Шрифты --- //
// <=========================================================================================================> //

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

// <=========================================================================================================> //
// --- Заготовки --- //
// <=========================================================================================================> //

$maxWidth: 1440px;

$md2: 991.98px;
$md3: 767.98px;
$md4: 669.98px;
$md5: 479.98px;

$dark: #333333;

// <=========================================================================================================> //
// --- Основной блок --- //
// <=========================================================================================================> //

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

