.input {
  width: 354px;
  min-height: 56px;
  border: 1px solid #B3CDF8;
  border-radius: 8px;
  padding: 16px;
  font-size: 15px;
  line-height: 1.53em;
  color: #333333;
  position: relative;

  &::placeholder {
    color: #9F9F9F;
  }

  &._active {
    border: 1px solid #5C98F1;
  }

  &._err {
    border: 1px solid #FB6262;
  }
}

.input__wrapper {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 16px;
    z-index: 10;
    transform: translateY(-50%);
    background: url("./../../../img/error_ico.svg") no-repeat;
  }

  &:after {
    content: 'Something goes wrong';
    position: absolute;
    bottom: -35%;
    left: 2%;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.46em;
    color: #FB6262;
  }
}

