@import "src/styles/variables";

.input {
  @media (min-width: $md3) {
    width: 354px;
    height: 56px;
    padding: 16px;
  }
  width: 348px;
  height: 48px;
  border: 1px solid #B3CDF8;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 15px;
  line-height: 1.53em;
  color: $dark;

  &::placeholder {
    color: #9F9F9F;
  }

  &--active {
    border: 1px solid #5C98F1;
  }

  &--err {
    border: 1px solid #FB6262;
  }
}

.input-wrapper {
  position: relative;
  // Проверить как робит без размеров
  @media (min-width: $md3) {
    width: 354px;
    height: 56px;
  }
  width: 348px;
  height: 48px;

  &--error {
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      right: 16px;
      z-index: 2;
      transform: translateY(-50%);
      background: url("./../../../img/error_ico.svg") no-repeat;
    }

    /*&:after {
      content: 'Something goes wrong';
      position: absolute;
      bottom: -35%;
      left: 2%;
      font-weight: 500;
      font-size: 13px;
      line-height: 1.46em;
      color: #FB6262;
    }*/
  }
}

