@import "src/styles/variables";

.auth-form {
  display: flex;
  flex-direction: column;
  //margin: 0px 0px 0px 121px;

  &__login, &__password {
    @media (min-width: $md3) {
      margin: 0px 0px 32px 0px;
    }
    margin: 0px 0px 24px 0px;
    position: relative;
  }

  &__error {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.46em;;
    color: #FB6262;
    position: absolute;
    left: 2%;
  }

  &__captcha {
    @media (min-width: $md3) {
      margin: 0px 0px 32px 0px;
    }
    margin: 0px 0px 24px 0px;
    position: relative;
  }

  &__buttons {
    display: flex;
    @media (min-width: $md4) {
      & button {
        &:not(:last-child) {
          margin: 0px 12px 0px 0px;
        }
      }
    }
    @media (max-width: $md4) {
      flex-direction: column;
      & button {
        width: 100%;
        &:not(:last-child) {
            margin: 0px 0px 8px 0px;
        }
      }
    }
  }
}