@import "src/styles/variables";

.AuthForm {
  display: flex;
  flex-direction: column;
  @media (max-width: $md3) {
    align-items: center;
  }

  &__login {
    @media (min-width: $md3) {
      margin: 0px 0px 32px 0px;
    }
    margin: 0px 0px 24px 0px;
  }

  &__password {
    @media (min-width: $md3) {
      margin: 0px 0px 48px 0px;
    }
    margin: 0px 0px 80px 0px;
  }
}